In [ ]:
# %load_ext autoreload
# %autoreload 2

%pip install -q arcticdb pandas numpy statsmodels seaborn matplotlib
%pip install -q git+https://github.com/Something-Else-Studio/arcticdb-notebooks.git

import pandas as pd
import arcticdb as adb

# import sys
# import os
# sys.path.append(os.path.dirname(os.getcwd()))

from styling import style_table

Note: you may need to restart the kernel to use updated packages.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Something-Else-Studio/arcticdb-notebooks/main/sports.csv')

In [3]:
df = df.drop(columns="Unnamed: 0")
df = df.rename(columns={'FREQ_RUNS_S': 'PS',
                        'FREQ_RUNS_A': 'PA' })

df = df.sort_values(['LEAGUE','YEAR_ID','TEAM_ID'])

In [4]:
display(style_table(df.head()))

In [5]:
arctic = adb.Arctic('lmdb://sports')
lib = arctic.get_library('leagues', create_if_missing=True)
for league in df['LEAGUE'].unique():
    lib.write(league, df[df['LEAGUE']==league])

In [6]:
lib.list_symbols()

['MLB', 'NBA', 'NHL', 'SUP', 'NFL', 'EPL', 'IPL', 'AFL', 'LAX']

In [7]:
display(style_table(lib.read('LAX').data))