In [ ]:
# Run this on colab
import requests
exec(requests.get("https://raw.githubusercontent.com/Something-Else-Studio/arcticdb-notebooks/main/styling.py").text)

In [8]:
# Run this locally

%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))

from styling import style_table, export_table_html

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
%pip install -q arcticdb pandas numpy statsmodels seaborn matplotlib

import pandas as pd
import arcticdb as adb

Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Something-Else-Studio/arcticdb-notebooks/main/pythagorean-won-loss-formula/sports.csv')

In [6]:
df = df.drop(columns="Unnamed: 0")
df = df.rename(columns={'FREQ_RUNS_S': 'PS',
                        'FREQ_RUNS_A': 'PA' })

df = df.sort_values(['LEAGUE','YEAR_ID','TEAM_ID'])

In [9]:
styled = style_table(df.head())
export_table_html(styled, "basic_data.html")
styled

Exported: basic_data.html

In [13]:
arctic = adb.Arctic('lmdb://sports')
lib = arctic.get_library('leagues', create_if_missing=True)
for league in df['LEAGUE'].unique():
    lib.write(league, df[df['LEAGUE']==league])

20250821 12:25:04.141976 96193 W arcticdb | LMDB path at /home/nick/source/customers/man-group/arcticdb-notebooks/pythagorean-won-loss-formula/sports/ has already been opened in this process which is not supported by LMDB. You should only open a single Arctic instance over a given LMDB path. To continue safely, you should delete this Arctic instance and any others over the LMDB path in this process and then try again. Current process ID=[96193]

In [14]:
lib.list_symbols()

['MLB', 'NBA', 'NHL', 'SUP', 'NFL', 'EPL', 'IPL', 'AFL', 'LAX']

In [ ]:
# Export all tables to HTML files
from styling import export_all_tables, create_index_page

# Export all league tables to HTML
export_all_tables(lib)

# Create index page
create_index_page(lib)