In [1]:
import pandas as pd
import arcticdb as adb

In [2]:
df = pd.read_csv('sports.csv')

In [3]:
df = df.drop(columns="Unnamed: 0")
df = df.rename(columns={'FREQ_RUNS_S': 'PS',
                        'FREQ_RUNS_A': 'PA' })

df = df.sort_values(['LEAGUE','YEAR_ID','TEAM_ID'])

In [4]:
df.head()

   YEAR_ID  TEAM_ID      OPP_TEAM_ID  PS   PA        date  home   wi LEAGUE
0     1897  Carlton          Fitzroy  16   49  1897-05-08     0  0.0    AFL
1     1897  Carlton  South Melbourne  36   40  1897-05-15     0  0.0    AFL
2     1897  Carlton         Essendon  41   78  1897-05-24     0  0.0    AFL
3     1897  Carlton          Geelong  22   44  1897-05-29     0  0.0    AFL
4     1897  Carlton        Melbourne  26  107  1897-06-05     0  0.0    AFL

In [5]:
arctic = adb.Arctic('lmdb://sports')
lib = arctic.get_library('leagues', create_if_missing=True)
for league in df['LEAGUE'].unique():
    lib.write(league, df[df['LEAGUE']==league])

In [6]:
lib.list_symbols()

['EPL', 'NFL', 'AFL', 'IPL', 'NHL', 'NBA', 'LAX', 'MLB', 'SUP']

In [7]:
lib.read('LAX').data

,YEAR_ID,TEAM_ID,OPP_TEAM_ID,PS,PA,date,home,wi,LEAGUE
128744,2010,Air Force,St. John's (NY),7,10,2010-02-28,1,0.0,LAX
128745,2010,Air Force,Lehigh,13,14,2010-03-06,1,0.0,LAX
128746,2010,Air Force,Penn,7,8,2010-03-07,1,0.0,LAX
128747,2010,Air Force,Army West Point,8,7,2010-03-13,1,1.0,LAX
128748,2010,Air Force,Loyola Maryland,3,18,2010-03-20,0,0.0,LAX
...,...,...,...,...,...,...,...,...,...
138745,2019,Yale,Penn,11,12,2019-05-05,1,0.0,LAX
138746,2019,Yale,Georgetown,19,16,2019-05-11,1,1.0,LAX
138747,2019,Yale,Penn,19,18,2019-05-19,1,1.0,LAX
138748,2019,Yale,Penn St.,21,17,2019-05-25,1,1.0,LAX
138749,2019,Yale,Virginia,9,13,2019-05-27,1,0.0,LAX